{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h1>404 Page Not Found</h1>
    <p>The page you are looking for does not exist.</p>
    <a href="/static">Return to the homepage</a>
</div>

{% endblock content %}