{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <form>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <div class="input-group">
                    <input class="form-control" id="search" type="search" placeholder="Search" name="search">
                    <button class="btn btn-outline-secondary" type="button" style="float: right;">Search</button>
                </div>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th>Course name</th>
                <th>Course id</th>
                <th>Max count of students</th>
                <th>Lesson count</th>
                <th>Homework count</th>
                <th>Start date course</th>
                <th>End date course</th>
                <th>Group gpa</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
            <tr>
                <th>{{group.course_name}}</th>
                <th>{{group.course_id}}</th>
                <th>{{group.max_count_of_students}}</th>
                <th>{{group.lesson_count}}</th>
                <th>{{group.homework_count}}</th>
                <th>{{group.start_date_course}}</th>
                <th>{{group.end_date_course}}</th>
                <th>{{group.group_gpa}}</th>
                <th>
                    <a type="button" class="btn btn-warning"
                       href="{% url 'groups:update_group' group.id %}">Edit</a>
                </th>
                <th>
                    <a type="button" class="btn btn-danger"
                       href="{% url 'groups:delete_group' group.id %}"
                       onclick="return confirm('Are you sure you want to delete this student?')">Delete</a>
                </th>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--        <table class="table table-dark table-striped">-->
        <!--            table class="table">-->
        <!--            {{students}}-->
        <!--        </table>-->
    </form>
</div>
{% endblock content %}


