{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <form>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <div class="input-group">
                    <input class="form-control" id="search" type="search" placeholder="Search" name="search">
                    <button class="btn btn-outline-secondary" type="button" style="float: right;">Search</button>
                </div>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Birth date</th>
                <th>Age</th>
                <th>Grade</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <th>{{student.id}}</th>
                    <th>{{student.first_name}}</th>
                    <th>{{student.last_name}}</th>
                    <th>{{student.email}}</th>
                    {% if student.birth_date %}
                    <th>{{student.birth_date}}</th>
                    <th>{{student.age}}</th>
                    {% else %}
                    <th>Not available</th>
                    <th>Invalid birth date</th>
                    {% endif %}
                    <th>{{student.grade}}</th>
                    <th>
                        <a type="button" class="btn btn-warning"
                           href="{% url 'students:update_student' student.uuid %}">Edit</a>
                    </th>
                    <th>
                        <a type="button" class="btn btn-danger"
                           href="{% url 'students:delete_student' student.uuid %}"
                           onclick="return confirm('Are you sure you want to delete this student?')">Delete</a>
                    </th>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--        <table class="table table-dark table-striped">-->
        <!--            table class="table">-->
        <!--            {{students}}-->
        <!--        </table>-->
    </form>
</div>
{% endblock content %}


