{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <form>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <div class="input-group">
                    <input class="form-control" id="search" type="search" placeholder="Search" name="search">
                    <button class="btn btn-outline-secondary" type="button" style="float: right;">Search</button>
                </div>
            </tr>
            <tr>
                <th scope="col">#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Birth date</th>
                <th>Age</th>
                <th>Grade</th>
                <th>Department</th>
                <th>Group</th>
                <th>Student count</th>
                <th>Group count</th>

                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
            <tr>
                <th>{{teacher.id}}</th>
                <th>{{teacher.first_name}}</th>
                <th>{{teacher.last_name}}</th>
                <th>{{teacher.email}}</th>
                {% if teacher.birth_date %}
                <th>{{teacher.birth_date}}</th>
                <th>{{teacher.age}}</th>
                {% else %}
                <th>Not available</th>
                <th>Invalid birth date</th>
                {% endif %}
                <th>{{teacher.grade}}</th>
                <th>{{teacher.department}}</th>
                <th>{{teacher.group}}</th>
                <th>{{teacher.student_count}}</th>
                <th>{{teacher.group_count}}</th>


                <th>
                    <a type="button" class="btn btn-warning"
                       href="{% url 'teachers:update_teacher' teacher.id %}">Edit</a>
                </th>
                <th>
                    <a type="button" class="btn btn-danger"
                       href="{% url 'teachers:delete_teacher' teacher.id %}"
                       onclick="return confirm('Are you sure you want to delete this student?')">Delete</a>
                </th>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        <!--        <table class="table table-dark table-striped">-->
        <!--            table class="table">-->
        <!--            {{students}}-->
        <!--        </table>-->
    </form>
</div>
{% endblock content %}


